KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/ap_trampoline.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/interrupts_asm.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pae_switch.o \
$(ARCHDIR)/pit_timer.o \
$(ARCHDIR)/platform.o \
$(ARCHDIR)/ps2_keyboard.o \
$(ARCHDIR)/serial_console.o \
$(ARCHDIR)/vga_console.o \
